body {
overflow-x: hidden;
background-color: black;
color: rgb(255, 255, 255);
margin: 0; 
}

html {
    scroll-behavior: smooth;
}

.container {
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
height: 100vh;
animation: blurToClear 3s ease-out forwards;
}

@keyframes blurToClear {

0% {
filter: blur(0.5rem);
opacity: 0; 
transform: scale(1.5);
}
100% {
filter: blur(0rem);
opacity: 1; 
transform: scale(1);
}

}

h1 {
font-size: 3rem;
letter-spacing: 0.3rem;
margin: 0;
}

.subtitle {
font-size: 1rem;
letter-spacing: 3rem;
padding-left: 3rem;
font-weight: 200;
font-family: 'Arial', sans-serif;
margin-top: 1rem;
user-select: none;
}

.scroll-indicator {
margin-top: 30rem;
font-size: 1.8rem;
margin-top: 1rem;
animation: bounce 2s infinite;
user-select: none;
}

@keyframes bounce {
0%, 20%, 50%, 80%, 100% {transform: translateY(0);}
40% {transform: translateY(-0.5rem);}
}

.logo {
font-size: 3rem;
font-weight: bold;
background: linear-gradient(90deg, #aa761c, #fcf6ba, #B38728, #fbf5b7, #aa761c);
background-size: 200% auto;
-webkit-background-clip: text;
-webkit-text-fill-color: transparent;
animation: shine 3.8s linear infinite;
user-select: none;
}

@keyframes shine {
to { background-position: 200% center; }
}

#portfolio-grid {
padding: 18rem 18rem;
text-align: center;
}

.gallery {
grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
gap: 38rem;
margin-top: -5rem;
margin-bottom: 18rem;
}

.gallery img {
width: 38rem;
border-radius: 1rem;
transition: transform 0.3s ease;
}

.gallery img:hover {
transform: scale(1.05);
filter: drop-shadow(rgb #fff);
}

.gallery a {
display: inline-block;
position: relative;
cursor: pointer;
}

.work-label {
position: absolute;
top: 113rem;
left: 50%;
transform: translate(-50%, -50%);
color: white;
font-size: 2rem;
font-weight: bold;
pointer-events: none;
z-index: 1;
}